.token-stat-row {
    background-color: aliceblue;
}

.token-stat-row.selected {
    background-color: deepskyblue;
}

.token-stat-row:hover {
    font-weight: bold;
    background-color: aqua;
}

.serial {
    padding-right: 8px;
}

.name {
    /* placeholder */
}

.frequency {
    text-align: end;
}
