@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

.cds--content {
  margin-top: 3rem;
  padding: 0 !important;
  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
