@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use './mixins.scss' as *;
@use './overrides.scss';

.about-page__illo {
  max-width: 100%;
}

.about-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 4;
  padding-left: $spacing-06;
  @include about-page-background;
}

.about-page__heading {
  @include type-style('productive-heading-05');
}

.about-page__r2 {
  margin-top: rem(-40px);
}

.tabs-group-content {
  padding: $spacing-10 $spacing-06;
}

.about-page__subheading {
  @include type-style('productive-heading-03');

  font-weight: 600;
}

.about-page__p {
  @include type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.tabs-group {
  background-color: $layer-01;
}

.about-page__r3 {
  padding-top: $spacing-09;
  padding-bottom: $spacing-09;
  padding-left: $spacing-06;
  @include about-page-background;
}

.about-page__label {
  @include type-style('heading-01');
}

.about-page__banner,
.about-page__r2,
.about-page__r3 {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }
}
