.cluster-box {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.start-node-input {
    width: 100%;
}

.start-node-selected {
    display: flex;
    align-items: center;
}

.start-node-selected div {
    margin-left: 5px; /* Adjust the spacing between elements */
}
