.cluster-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #8d8d8d 2px solid;
    background: #262626;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

input {
    padding: 8px;
    border-bottom: 1px solid #8d8d8d;
    background-color: #393939;
    color: #e0e0e0;
    font-size: small;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #ffffff;
}

.input-title {
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-weight: bold;
    font-size: small;
    color: white;
    padding: 8px;
    background: #393939;
}

.experimental {
    padding: 2px 8px 2px 4px;
    margin-left: 8px;
    background: mediumpurple;
    border-radius: 16px;
    font-weight: bolder;
    font-size: x-small;
}

.clear {
    align-self: flex-end;
    color: #4380ff;
}
