.main-panel {
    display: flex;
    flex-direction: row;
}

.viz {
    display: flex;
    justify-content: center;
    flex: 1;
}

.floating-legend {
    position: absolute;
    top: 48px;
    z-index: 1;
}
