.toolbar {
    display: flex;
    align-items: center;
    color: #F1F1F2;
    background-color: #232323;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #535353;
}

.product-name {
    font-weight: bold;
    padding-right: 8px;
}

.App {
    display: flex;
    flex-direction: row;
}

.viz {
    display: flex;
    justify-content: center;
    flex: 1;
}

.debug-element {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 24px;
}
