.main-panel {
    display: flex;
    flex-direction: row;
}

.viz {
    display: flex;
    justify-content: center;
    flex: 1;
    overflow: hidden;
}

.floating-legend {
    position: absolute;
    top: 48px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Set the thumb color */
    border-radius: 4px; /* Add rounded corners to the thumb */
}
