.table-container table {
    border-spacing: 0;
    font-size: 14px;
    width: 100%;
}

tr {
    height: 32px;
}

tr th {
    height: 40px;
}

th {
    user-select: none;
    text-align: start;
    color: rgb(244, 244, 244);
    background-color: rgb(57, 57, 57);
    border-bottom: 2px solid rgb(71, 71, 71);
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(57, 57, 57);
}

.table-body-container {
    flex: 1;
    overflow: auto;
}

.row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-serial {
    padding-left: 16px;
}

.column-name {
    padding-left: 16px;
    padding-right: 16px;
}

.column-count {
    padding-right: 16px;
}

.number {
    margin-left: auto;
}

.ellipsis {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
